<!DOCTYPE html>
<html lang="en">
	<head>

		 <!--Google Font 1-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      	rel="stylesheet">
    <!--Google Font 3-->
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<!--Google Font 3-->
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <!--Bootstrap CDN-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    rel="stylesheet">
    <!--Font Awesome CDN-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    rel="stylesheet">
    <!--jQuery CDN-->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <!--Bootstrap CDN-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!--CSS Stylesheet-->
    <link href="public/assets/css/style.css" rel="stylesheet" type="text/css">
    <!--Font Awesome CDN-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <!--jQuery CDN-->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>

     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="public/assets/js/modal.js"></script>
 

		<title>Quest</title>
	</head>
	<body>

					{{{ body }}}


	</body>
</HTML>