<div class="row">
	<div class="col-md-12" id="invalidPg">
		<br>
		<p><b>Invalid email or password. Please try again.</b></p>
		<br>
	<a href="/"><u>Click here to return to the main page</u></a>
</div>