body {
	font-family: 'Roboto', sans-serif;
}

.goalBox {
  height: 130px;
  width: 75%;
  padding-bottom: 12px;

}

.thumbnail {

  height: 350px;
  border: 1px solid #000;
  margin-top: 20px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.298);
}

.thumbnail:hover {

  background: rgba(250, 250, 250, 0.978);
}

.jumbotron {
  margin-top: 150px;
  background: rgba(250, 250, 250, 0.5);
	color: black;
	height: 250px;
	text-align: center;
}

.main {

  border: solid 2px white;
  box-shadow: 2px 2px 2px #000000;

}

.navbar-default {

  background: rgba(250, 250, 250, .8);
  border: 0px;

}

.navbar-nav li {

  padding-top: 7px;

}

a{

  color: black;
}

.loginBtn {

  background: rgba(250, 250, 250, 0);
  color: black;
  border: solid 1px grey;
}

.loginBtn:hover {

  background: rgba(0, 0, 0, 0.1);
  color: black;
  border: solid 1px grey;
}

.navSection {
  width: 152px;
  display: inline-block;

}

.clearBtn {

  background: rgba(250, 250, 250, 0);
  color: white;
  border: solid 1px grey;
}

.clearBtn:hover {

  background-color: #65953d;
  color: white;
}

.halfRule {

  width: 15%;
  border: solid 1px black;
}

.middle {

  background-color: #D3D3D3;


}
.test {
  background-color: red;
  z-index: 1000;
}
.mainArea {
  height: 300px;
}
.image-center {
    margin: 0 auto;

}

.center {

  text-align: center;
}
.signUp {


}


.material-icons.md-48 { 
	font-size: 48px; 
}

#quests {
	text-align: center;
}

#doneQuests {
	text-align: right;
}


.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
  .checkbox {
    margin-bottom: 30px;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

/* Fonts */

h3 {

  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
}

h4 {

  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  color: white;
}


h6 {

  font-family: 'Press Start 2P', cursive;
  color: white;
  font-family: 6px;



}

